*{border: 2px solid hotpink;

}


body { margin: 0;
     background-color : #121212;
     color: #e0e0e0;
     font-family: 'Fira Code', monospace;
     }
     
.wrapper{display: flex;
          justify-content: center;
          align-items: center;
          }

.spinning-thong{color:#1b1b ;
               margin: 100px;
               text-align: center;
               display: flex;
               }

